body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.text-highlight{
    color:rgba(52, 230, 7, 0.671);
}
.half-width{
width:42%;
float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
.button-text{
    text-decoration: none;
    background-color: hotpink;
    border:1px saddlebrown;
    padding:10px 20px;
    border-radius: 6px;
    font-weight: 700;
    color:seashell;
    text-align:left;
}
.line-spacing{
    height: 900px;
}
.third-image{
    border-left:700px solid;
    padding:20px;
}
.section-height{
    width:1100px;
    height:550px;
    background:hsl(120, 57%, 87%);
    margin:100px 100px;
    float:left;
}
.adding-box{
    width: 290px;
    height: 330px;
  border: 5px solid mistyrose;
  border-radius: 12px;
  padding: 2px;
  margin: 20px;
  float: left;
  }
.adding-box img{
    width:100%
}
.header-font{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.font-style{
    font-size: 40px;
    text-align: center;
}
.text-color{
    color:hotpink;
}
.shape-height img{
    width:80%;
    margin:200px 150px;
    position: center;
}
.div-height{
    height:50px white;
}